<nav id="container_navi">
  <div id="title">
    <a href='/'>Magicbox</a>
  </div>
  <img src="images/search.png"  alt="Search" id="mb-search-trigger" title="Toggle Search">
</nav>

<div id=mb-search>
  <form id="mb-search-form" method="get" action="/search">
    <input type="text" name="q" id="mb-search-input" placeholder="Search by tag">
  </form>
</div>
