<div class="post-link">
  <%= link_to 'Articles', '/articles' %>
</div>

<div class="post-link">
  <%= link_to 'The Bliss Manifesto', '/bliss_manifesto' %>
</div>

<div class="post-link">
  <%= link_to 'Recipes', '/recipes' %>
</div>
