<!DOCTYPE html>
<html>
  <head>
    <title>Sample Blog</title>
    <link rel="stylesheet" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" media="screen" href="/css/blog.css" />
    <link rel="stylesheet" type="text/css" href="/pygments.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/blog.js"></script>
  </head>
  <body>
    <div id="container">
      <%= erb :header %>
      <div id="container_content">
        <%= yield %>
      </div>
      <%= erb :footer %>
    </div>
  </body>
</html>
