<!DOCTYPE html>
<html>
  <head>
    <title>Sample Blog</title>
    <link rel="stylesheet" media="screen" href="/css/blog.css" />
    <script type="text/javascript" src="/js/blog.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>