<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <title>Magicbox</title>
    <link rel="stylesheet" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" media="screen" href="/css/blog.css" />
    <link rel="stylesheet" type="text/css" href="/css/github.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.pjax.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/mousetrap.min.js"></script>
    <script type="text/javascript" src="/js/magicbox.js"></script>
  </head>

  <link rel="icon"
        type="image/png"
        href="/images/favicon.png">

  <link rel="apple-touch-icon" href="/images/favicon.png">

  <body>
    <div id="container">
      <%= erb :header %>
      <div id="container_content">
        <%= yield %>
      </div>
      <%= erb :footer %>
    </div>
  </body>
</html>
