h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }
p, ol, ul, li { font-size: 17px; }

pre {
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

a {
	text-decoration: none;
}

p {
  text-align: justify;
  line-height: 150%;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

article header {
	margin-bottom: 10px;
}

header h1 {
	margin: 0;
}

header a, header a:visited {
	color: #000;
}

header a:hover {
	text-decoration: underline;
}

#container_navi {
	background-color: black;
	text-align: center; }
	#container_navi a {
		color: #C8C8C8; }
	#container_navi a:hover {
		color: #FFF; }

#container_content {
	width: 700px;
	margin: 30px auto;
}

#article-meta {
	font-size: 90%;
	color: #555;
}
